{% extends 'base.html' %}
{% block content %}
<div class="container w-75">
    <div style="text-align: center;">
        <a class="btn btn-primary my-5" href="{% url 'routine:index' %}">Routine 서비스로 이동!</a>
    </div>
    <div style="text-align: center;">
        <a class="btn btn-outline-primary my-3" href="#">다른 A 서비스</a>
    </div>
    <div style="text-align: center;">
        <a class="btn btn-outline-primary my-3" href="#">다른 B 서비스</a>
    </div>
    <div style="text-align: center;">
        <a class="btn btn-outline-primary my-3" href="#">다른 C 서비스</a>
    </div>
</div>
{% endblock %}