{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Plus Routine!</title>
</head>
<body>
    <!-- navigation -->
    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}
    
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>

    <!-- JavaScript Start -->
    {% block script %}
    {% endblock %}
    <!-- JavaScript End -->
</body>
</html>