{% extends 'base.html' %} 
{% block content %}
<!--
    <routine의 data>
title:  문자열
category: 선택: miracle/homework
goal: 문자열
alarm: 선택: T/F

    <routine_day의 data>
day: 일-토 요일 중에서 선택

※ 반드시 tag에 name 값 넣기!
※ csrf_token 추가
-->
<div class="container mt-5 w-75">
    <form method="post" action="{% url 'routine:create' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="inputTitle" class="form-label">TITLE</label>
            <input
                type="text"
                name="title"
                class="form-control"
                id="inputTitle"
            />
        </div>
        <div class="mb-3">
            <label for="selectCategory" class="form-label">CATEGORY</label>
            <select
                id="selectCategory"
                name="category"
                class="form-select"
                aria-label="Default select example"
            >
                <option selected>MIRACLE/HOMEWORK 선택</option>
                <option value="MIRACLE">MIRACLE</option>
                <option value="HOMEWORK">HOMEWORK</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="inputGoal" class="form-label">GOAL</label>
            <input
                name="goal"
                type="text"
                class="form-control"
                id="inputGoal"
                />
            </div>
        <div class="mb-3">
            <div class="form-label">ALARM</div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="radio"
                    name="is_alarm"
                    id="radioAlarmTrue"
                    value="true"
                />
                <label class="form-check-label" for="radioAlarmTrue">알람 ON</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="radio"
                    name="is_alarm"
                    id="radioAlarmFalse"
                    value="false"
                />
                <label class="form-check-label" for="radioAlarmFalse">알람 OFF</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-label">DAY</div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    name="days[]"
                    type="checkbox"
                    id="SUN"
                    value="SUN"
                />
                <label class="form-check-label" for="SUN">SUN(일)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="MON"
                    value="MON"
                />
                <label class="form-check-label" for="MON">MON(월)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="TUE"
                    value="TUE"
                />
                <label class="form-check-label" for="TUE">TUE(화)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="WED"
                    value="WED"
                />
                <label class="form-check-label" for="WED">WED(수)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="THU"
                    value="THU"
                />
                <label class="form-check-label" for="THU">THU(목)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="FRI"
                    value="FRI"
                />
                <label class="form-check-label" for="FRI">FRI(금)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="SAT"
                    value="SAT"
                />
                <label class="form-check-label" for="SAT">SAT(토)</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}
