{% extends 'base.html' %} 
{% block content %}
<!--
※ 반드시 tag에 name 값 넣기!
※ csrf_token 추가
-->
<div class="container mt-5 w-75">
    <form id="createForm" method="post" action="{% url 'routine:create' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="inputTitle" class="form-label">TITLE</label>
            <input
                type="text"
                name="title"
                class="form-control"
                id="inputTitle"
                placeholder="제목을 입력하세요"
            />
        </div>
        <div class="mb-3">
            <label for="selectCategory" class="form-label">CATEGORY</label>
            <select
                id="selectCategory"
                name="category"
                class="form-select"
                aria-label="Default select example"
            >
                <option selected>MIRACLE/HOMEWORK 선택</option>
                <option value="MIRACLE">MIRACLE</option>
                <option value="HOMEWORK">HOMEWORK</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="inputGoal" class="form-label">GOAL</label>
            <input
                name="goal"
                type="text"
                class="form-control"
                id="inputGoal"
                placeholder="목표를 입력하세요"
                />
        </div>
        <div class="mb-3">
            <div class="form-label">ALARM</div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="radio"
                    name="is_alarm"
                    id="radioAlarmTrue"
                    value="true"
                />
                <label class="form-check-label" for="radioAlarmTrue">알람 ON</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    type="radio"
                    name="is_alarm"
                    id="radioAlarmFalse"
                    value="false"
                />
                <label class="form-check-label" for="radioAlarmFalse">알람 OFF</label>
            </div>
        </div> 
        <div class="mb-3">
            <div class="form-label">DAY</div>
            <div class="form-check form-check-inline">
                <input
                    class="form-check-input"
                    name="days[]"
                    type="checkbox"
                    id="SUN"
                    value="SUN"
                />
                <label class="form-check-label" for="SUN">SUN(일)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="MON"
                    value="MON"
                />
                <label class="form-check-label" for="MON">MON(월)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="TUE"
                    value="TUE"
                />
                <label class="form-check-label" for="TUE">TUE(화)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="WED"
                    value="WED"
                />
                <label class="form-check-label" for="WED">WED(수)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="THU"
                    value="THU"
                />
                <label class="form-check-label" for="THU">THU(목)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="FRI"
                    value="FRI"
                />
                <label class="form-check-label" for="FRI">FRI(금)</label>
            </div>
            <div class="form-check form-check-inline">
                <input
                    name="days[]"
                    class="form-check-input"
                    type="checkbox"
                    id="SAT"
                    value="SAT"
                />
                <label class="form-check-label" for="SAT">SAT(토)</label>
            </div>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary my-3">일정 등록하기</button>
        </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script type='text/javascript'>
    const form = document.getElementById('createForm');
    function intercept (e) {
        e.preventDefault();
        
        const getEl = (name) => form.querySelector(`[name="${name}"]`);
        const getEls = (name) => form.querySelectorAll(`[name="${name}"]`);

        const csrfmiddlewaretoken = getEl('csrfmiddlewaretoken');
        const title = getEl('title');
        const category = getEl('category');
        const goal = getEl('goal');
        let is_alarm, days = [];

        getEls('is_alarm').forEach(al=>{
            if(al.checked) is_alarm = al.value;
        });
        
        getEls('days[]').forEach(day=>{
            if(day.checked) days.push(day.value);
        });

        let data = new FormData();
    
        data.append("title", title.value)  
        data.append("goal", goal.value)
        data.append("category", category.value)
        data.append("is_alarm", is_alarm)
        data.append("days[]", days)
        data.append("csrfmiddlewaretoken", csrfmiddlewaretoken.value)

        axios.post('{% url "routine:create" %}',data).then(res => {
            if(res.status === 200) {
                location = '{% url "routine:readAll" %}';
            }
        });
    }
    form.addEventListener('submit', intercept);
</script>
{% endblock %}
