{% extends 'base.html' %} 
{% block content %} 
{% load static %}
<div class="container w-75 mt-3">
    <table class="table">
        <thead>
            <tr style="text-align: center">
                <th scope="col">TITLE</th>
                <th scope="col">GOAL</th>
                <th scope="col">DAY</th>
                <th scope="col">RESULT</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div style="text-align: center">
        <a href="{% url 'routine:render_all' %}" class="btn btn-primary"
            >내 일정 목록으로 가기</a
        >
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    const data = new FormData();
    data.append('csrfmiddlewaretoken', '{% csrf_token %}');
    axios.get('{% url "routine:readOne" routine_id %}', data)
    .then(res => res.data)
    .then(datas => {
        console.log(datas)
        document.querySelector('table tbody').insertAdjacentHTML('beforeend', template(datas.data))
    });

    const template = ({title, goal, id, result, days}) => `<tr style="text-align: center;">
    <td>${title}</td>
    <td>${goal}</td>
    <td>
        <span>${days.join(", ")}</span>
    </td>
    <td>
        <form action="{% url 'routine:updateResult' routine_id %}" method="post">
            {% csrf_token %}
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="result" id="RadioNot" value="NOT"
                checked='${result==="NOT"}'>
                <label class="form-check-label" for="RadioNot">NOT(안 함)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="result" id="RadioTry" value="TRY"
                checked='${result==="TRY"}'>
                <label class="form-check-label" for="RadioTry">TRY(시도)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="result" id="RadioDone" value="DONE"
                checked='${result==="DONE"}'>
                <label class="form-check-label" for="RadioDone">DONE(완료)</label>
            </div>
            <button type="submit" class="btn btn-primary">저장</button>
        </form>
    </td>
    </tr>`;
</script>
{% endblock %}
