{% extends 'base.html' %} {% block content %} {% load common_tags %}
<div class="container mt-5 w-75">
    <h4>{{ user.username }}님의 전체 루틴 리스트입니다!</h4>
    <h5>일정을 선택해 결과를 기록하세요 :)</h5>
    <table class="table">
        <thead>
            <tr style="text-align: center">
                <th scope="col">TITLE</th>
                <th scope="col">GOAL</th>
                <th scope="col">RESULT</th>
                <th scope="col">일정 수정/삭제</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %} {% block script %}
<script type="text/javascript">
    window.addEventListener("click", function (e) {
        const target = e.target;
        if(!target.classList.contains('delete')) return;

        if (confirm("정말로 삭제하시겠습니까?")) {
            location.href = target.dataset.uri;
        }
    });

    const dataForm = new FormData();
    dataForm.append("csrfmiddlewaretoken", '{% csrf_token %}');
    axios
        .get('{% url "routine:readAll" %}', dataForm)
        .then((res) => res.data)
        .then((datas) => {
            if (datas.data.length > 0) {
                datas.data.forEach((data) => {
                    document
                        .querySelector("table tbody")
                        .insertAdjacentHTML("beforeend", template(data));
                });
            } else {
                document.querySelector("table tbody").insertAdjacentHTML(
                    "beforeend",
                    `<tr style="text-align: center;">
                <span>등록된 루틴이 없습니다!</span>
            </tr>`
                );
            }
        });

    const template = ({ id, title, goal, days, result }) => `
    <tr style="text-align: center;">
        <td>
            <h4>
                <a href="/routine/read/${id}/">${title}</a>
            </h4>
        </td>
        <td>${goal}</td>
        <td>${result}</td>
        <td>
            <a href="/routine/update/${id}/" class="btn btn-primary">수정<a> 
            <a class="delete btn btn-danger" href="javascript:void(0)" data-uri="/routine/delete/{{user.pk}}/${id}/">삭제<a>
        </td>
    </tr>`;
</script>
{% endblock %}
